.footer{
    padding-left: 3rem;
    padding-top: 1rem;
    padding-right: 3rem;
    color: #A9A9A9;

}

.icons{
    margin: 3px 8px;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.footer_links{
    display: grid;
    margin-top: 3.5rem;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 1.5rem 1rem;
}

.footer_link{
    cursor: pointer;
    text-align: left;
}

.footer_link:hover{
    text-decoration: underline;
}

.footer_footer{
    margin-top: 8rem;
    text-align: center;
    padding-bottom: 4rem;
    margin-left:auto;
    margin-right: auto;
    width: 30%;
    padding-left: 4%;
    color: #696969;
}

.footer_footer p{
    font-size: 0.8rem;
}

@media (max-width: 570px) {
    .footer_links{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .footer_links{
        padding-left: 2rem;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem 4rem;
    }
    .footer_link{
        text-align: left;
    }
    .icons{
        width: 2.3rem;
        height: 2.3rem;
    }   
}

@media screen and (min-width: 1024px) {
    .footer_links{
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem 8rem;
        padding-left: 4rem;
    }
    .footer_link{
        text-align: left;
    }
    .icons{
        width: 2.4rem;
        height: 2.4rem;
    }
}