.phone{
    padding-left: 1.5rem;
    background: rgba(0,0,0,0.8);;
    text-align: center;
    height: 50%;
    padding-bottom: 6rem;
}

.phone form {
    display: flex;
    flex-direction: column;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    appearance: none;
    margin: 0; 
}

@media screen and (min-width: 1424px){
    .phone{
        position: relative;
        border-radius: 5px;
        top: 8rem;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        height: 50vh;
        padding-left: 64px;
        padding-right: 64px;
    }
}

@media (max-width: 1424px) and (min-width: 750px){
    .phone{
        position: relative;
        border-radius: 5px;
        top: 8rem;
        width: 28%;
        margin-left: auto;
        margin-right: auto;
        height: 50vh;
        padding-left: 64px;
        padding-right: 64px;
    }
}

@media (max-width: 750px){
    .phone{
        height: 455px;
    }
}