
.row{
    display: flex;
    flex-direction: row;
    object-fit: contain;
    width: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row::-webkit-scrollbar{
    display: none;
}

.row_title{
    max-width: 100%;
    margin-top: 0px;
    padding-bottom: 0;
    color: white;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

/* .row{
    position: relative;
    color: white;
    margin-left: 20px;
}

.row_poster{
    border-radius: 7px;
    object-fit: contain;
    max-height: 110px;
    margin-right: 10px;
    width: 100%;
    transition: 450ms;
}

.row_video_container{

}

.row_vdo{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 20rem;
    max-height: 210px;
    z-index: 1;
}

.row_poster:hover{
    transform: scale(1.08);
    opacity: 0.6;
}

.row_posters{
    display: flex;
    flex-direction: row;
    object-fit: contain;
    width: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_posters::

.row_posterLarge{
    max-height: 250px;
}

.row_posterLarge:hover{
    transform: scale(1.09);
    opacity: 0.6;
}


 */
