.signupcard{
    color: white;
    background-color: #000000;
    margin-top: 0.6rem;
    text-align: center;
    padding-top: 3rem;
}

.title{
    margin: auto;
    max-width: 70%;
}

.content{
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 1rem;
    padding-left: 10%;
    padding-right: 10%;
}

.signupcard_img{
    position: absolute;
    z-index: 2;
    margin: 0;
    padding:0 ;
    top: 0;
    left: 0;
    max-height: 21.3rem;
    max-width: 29rem;
    padding-bottom: 3rem;
    margin-right: 1rem;
}
.signupcard_video{
    height: 17rem;
    width: 22.8rem;
}

.signupcard_watch_video{
    margin-top: 1rem;
    height: 11rem;
    width: 18rem;
    margin-right: 1rem;
}

.download_gif{
    position: absolute;
    z-index: 2;
    left: 2.7rem;
    top: 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 2px solid #444;
    background-color: #000000;
    border-radius: 1rem;
}

.download_img{
    border-radius: 50%;
    margin-left: 5rem;
    max-height: 4rem;
}

.download_gif p{
    margin: auto;
    margin-left: 1rem;
}
.starnger_poster{
    max-height: 5rem;
    padding: 0.5rem;
}

.img_vdo_container{
    position: relative;
    margin-top: 0;
    margin: auto;
    z-index: 1;
    height: 27rem;
    width: 30rem;
}



@media screen and (min-width: 1140px){
    .download_gif{
        top: 16.2rem;
        left: 4.5rem;
    }
    .signupcard_img{
        max-width: 32rem;
        max-height: 39rem;
}
.signupcard_watch_video{
    height: 13rem;
    width: 20rem;
    margin-left: 2rem;
}
    .signupcard{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        max-width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .title_content_container{
        text-align: left;
    }
    .title_content_container p{
        padding-left: 14%;
    }
    p{
        max-width: 70%;
    }
    .title{
        font-size: 3rem;
        margin-top: 0;
        padding-top: 0;
        margin-left: 6.5rem;
    }
    .content{
        font-size: 1.5rem;
    }

    .signupcard_video{
        height: 19rem;
        width: 24.8rem;
    }
}

@media (max-width:1140px) and (min-width:950px ){
    
    .signupcard{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
    }

    .title_content_container{
        text-align: left;
    }
    p{
        max-width: 70%;
    }
    .title{
        font-size: 2.3rem;
        margin-top: 0;
        padding-top: 0;
        margin-left: 3.8rem;
    }
    .content{
        font-size: 1.2rem;
    }

}