.signin{
    padding-left: 1.5rem;
    background: rgba(0,0,0,0.8);;
    height: 60%;
}

.signin form{
    display: flex;
    flex-direction: column;
}

.signin_heading{
    padding-top: 4rem;
    font-size: 2.5rem;
}

.signin_input{
    margin-bottom: 1.2rem;
    margin-right: 1.5rem;
    height: 2.5rem;
    padding-left: 5px;
    border: none;
    outline: none;
    border-radius: 3px;
}

.btn{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.9rem 0;
    border-radius: 3px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    border: none;
    font-weight: 600;
    cursor: pointer;
    margin-right: 1.5rem;
}

.signin_smalls{
    display: flex;
    justify-content: space-between;
    padding-right: 1.5rem;
}

.signin_smalls a{
    text-decoration: none;
    color: white;
}

.signin_smalls div{
    align-items: center;
}

.signin_smalls div input {
    cursor: pointer;
}

.signin_p {
    color: lightgray;
}
.signin_p span{
    cursor: pointer;
    color: white;
}
.signin_p span:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}

@media screen and (min-width: 1424px){
    .signin{
        position: relative;
        border-radius: 5px;
        top: 8rem;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
        height: 82vh;
        padding-left: 64px;
        padding-right: 64px;
    }
    .signin_input{
        width: 98%;
    }
    .btn{
        width: 100%;
    }
    .p_cont{
        padding-top: 4rem;
    }

}

@media (max-width: 1424px) and (min-width: 750px){
    .signin{
        position: relative;
        border-radius: 5px;
        top: 8rem;
        width: 28%;
        margin-left: auto;
        margin-right: auto;
        height: 82vh;
        padding-left: 64px;
        padding-right: 64px;
    }
}
@media (max-width:1140px) and (min-width:750px ){
    
}